<section class="community-section">
  {{> components/_communityTabs}}
  <div class="container">
    <table>
      {{#with post}}
      <thead>
        <tr>
          <th>제목</th>
          <th>{{title}}</th>
        </tr>
        <tr>
          <th>작성자</th>
          <th>{{user}}</th>
        </tr>
        <tr>
          <th>작성일</th>
          <th>{{changeDateFormat date}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">{{details}}</td>
        </tr>
      </tbody>
      {{/with}}
    </table>

    <div class="row">
      <div class="col s12 m12 l12">
        <a href="/community/qna" class="waves-effect waves-light btn right" style="background-color: #363636;">목록</a>
      </div>
    </div>
  </div>
</section>