<section>
  <div class="retailers-bg-wrap">
    <div class="retailers-bg"></div>
  </div>
  <div class="retailers-review-wrap">
    <div class="container">
      <div class="row">
        <div class="s12 m12 l12">
          <table class="highlight">
            <caption class="sr-only">table of global retailers</caption>
            <thead>
              <tr>
                <th>No</th>
                <th>제목</th>
                <th>글쓴이</th>
              </tr>
            </thead>
            <tbody class="review-tbody">
              <tr>
                <td>포실 포실한 머리결이 촉촉해졌어요!!</td>
                <td class="review-date">2020-02-01</td>
                <td>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star_border</i>
                </td>
              </tr>
              <tr>
                <td>효과가 있는지 모르겠어요.</td>
                <td class="review-date">2020-01-22</td>
                <td>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star</i>
                  <i class="material-icons">star_border</i>
                  <i class="material-icons">star_border</i>
                  <i class="material-icons">star_border</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>