<section style="position: relative;">
  {{!-- {{> page/_carousel}} --}}
  {{> components/_slider}}
</section>

<section class="section section-parallax">
  {{> components/_parallax}}
</section>

<section>
  {{> components/_productLine}}
</section>

<section>
  {{> components/_info}}
</section>

<section>
  {{> components/_instagram}}
</section>