<section>
  <div class="container login-container">
    {{!-- 제목 --}}
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="login-title">
          <h2 class="center-align login-title">로그인</h2>
        </div>
      </div>
    </div>
    {{!-- input --}}
    <div class="row">
      <form action="/users/login" method="POST" class="col s12 m12 l12">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="input-field col s12 m12 l12">
              <input id="userId" type="text" name="userId" class="validate">
              <label for="userId">아이디</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <input id="password" type="password" name="password" class="validate">
              <label for="password">비밀번호</label>
            </div>
            <div class="col s12 m12 l12">
              <button class="btn-large waves-effect waves-light black login-submit" type="submit"
                name="action">로그인</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    {{!-- 아이디찾기 --}}
    <div class="row">
      <div class="col s12 m12 l12 center-align">
        <ul class="findIdPw-wrap clearfix">
          <li>
            <a href="/users/register">회원가입</a>
          </li>
          <li>
            <a href="">아이디찾기</a>
          </li>
          <li>
            <a href="">비밀번호찾기</a>
          </li>
        </ul>
      </div>
    </div>
    {{!-- sns 로그인 --}}
    <div class="row center-align">
      <div class="col s12 m12 l4">
        <a href="#" class="login-sns naver">네이버 로그인</a>
      </div>
      <div class="col s12 m12 l4">
        <a href="#" class="login-sns kakao">카카오 로그인</a>
      </div>
      <div class="col s12 m12 l4">
        <a href="#" class="login-sns facebook">페이스북 로그인</a>
      </div>
    </div>
  </div>
</section>