<section>
  <div class="lines-wrap">
    <div class="lines-bg realshea-bg-1"></div>
    <div class="lines-bg-overlay">
      <ul class="lines-nav clearfix">
        <li><a href="/lines/scalppack" class="lines-sub-link">SCALP PACK</a></li>
        <li><a href="/lines/realshea" class="lines-sub-link">REAL SHEA</a></li>
        <li><a href="/lines/realmary" class="lines-sub-link">REAL MARY</a></li>
      </ul>
    </div>
  </div>
</section>