<section>
  <div class="lines-wrap">
    <div class="lines-bg scalppack-bg-1"></div>
    <div class="lines-bg-overlay">
      <ul class="lines-nav clearfix">
        <li><a href="/lines/scalppack" class="lines-sub-link">SCALP PACK</a></li>
        <li><a href="/lines/realshea" class="lines-sub-link">REAL SHEA</a></li>
        <li><a href="/lines/realmary" class="lines-sub-link">REAL MARY</a></li>
      </ul>
    </div>
  </div>

  <div class="lines-texts-wrap">
    <div class="lines-bg scalppack-bg-2"></div>
    <div class="lines-texts-inner">
      <strong>두피팩과 트리트먼트를 한번에!<br />내 두피 타입에 맞춰 쓰는 두피팩 트리트먼트 4종</strong>
    </div>
  </div>

  <div class="lines-intro-wrap">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <img src="/images/lines/scalppack/scalppack-intro-1.png" alt="">
          <hr>
          <img src="/images/lines/scalppack/scalppack-intro-2.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="lines-wrap">
    <div class="lines-bg scalppack-bg-3"></div>
  </div>

  <div class="lines-texts-wrap" style="margin-top: 100px;">
    <div class="lines-texts-inner">
      <strong>에코서트 인증 유기농 메인성분 함유</strong>
      <div>
        <p style="margin-bottom: 20px; line-height: 2">레이티드그린 천연 두피팩 4종은 에코서트(ECOCERT) 인증을 받은<br />
          유기농 메인성분을 콜드브루나 콜드프레스 방식으로 추출하여<br />
          다양한 두피와 모발타입에 필요한 영양과 효과를 최대한 손실 없이 제공합니다.</p>
        <p style="line-height: 2;"># 유기농로즈마리 # 유기농히비스커스<br />
          # 유기농아보카도 # 유기농타마누오일</p>
      </div>
    </div>
  </div>

  <div class="lines-intro-wrap-2">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <img src="/images/lines/scalppack/scalppack-intro-3.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="lines-texts-wrap" style="height: 200px">
    <div class="lines-texts-inner">
      <strong>피부 저자극 시험 완료</strong>
      <div>
        <p style="line-height: 2;">레이티드그린의 전제품은 민감한 피부나 두피에 닿아도<br />트러블이 생기지 않는 피부 저자극 제품입니다.</p>
      </div>
    </div>
  </div>

  <div class="lines-intro-wrap-3">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <img src="/images/lines/scalppack/scalppack-intro-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="lines-texts-wrap">
    <div class="lines-texts-inner">
      <strong>두피팩 사용법</strong>
      <div>
        <p style="line-height: 2;">샴푸 후 가볍게 물기를 제거하고 적당량을 덜어 두피와 모발에 충분히 도포 후 부드럽게 마사지해줍니다.<br />영양이 공급될 때까지 5분 정도 기다린
          다음 깨끗하게 헹궈냅니다.</p>
        <p style="line-height: 2;">두피에 영양을 공급하면서 모발까지 부드럽게 씻어내기 때문에 별도로<br />모발용 컨디셔너나 트리트먼트를 사용하지 않아도 됩니다.</p>
        <p>매일 사용해도 괜찮습니다.</p>
      </div>
    </div>
  </div>

  <div class="lines-wrap">
    <div class="lines-bg scalppack-bg-4"></div>
    <div class="lines-bg-overlay"></div>
  </div>

  {{!-- ************* 
    * lines-sell-wrap 
  *******************--}}
  <div class="lines-sell-wrap">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="lines-sell-text-postion">
          <div class=" lines-sell-text-wrap">
            <div class="lines-sell-title">
              <div>
                <h6>콜드브루<br /><span>로즈마리 밸런싱<br />스칼프 팩</span></h6>
              </div>

              <p class="lines-sell-sub">달콤한 로즈마리 향</p>
              <p>50ml / 1.69 fl.oz</p>
              <p>콜드브루 방식으로 장시간 저온에서 정제한 내추럴 로즈마리잎수에<br />차콜과 다양한 자연 유래 추출물을 엄선하여 배합한 레이티드그린의<br />특별한 포뮬레이션으로 지성두피에
                밸런스를
                제공하고<br />모발을 부드럽게 해줍니다.</p>
              <br />
              <p class="lines-sell-sub">두피타입</p>
              <p>지성두피, 간지러운 두피에 로즈마리, 차콜 밸런싱 효과</p>
            </div>
            <a class="btn btn-small #fafafa grey lighten-5 black-text">구매하기</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="lines-sell-img-wrap">
          <div class="lines-sell-img-1"></div>
        </div>
      </div>
    </div>
  </div>
  {{!-- end: lines-sell-wrap --}}

  <div class="lines-sell-wrap">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="lines-sell-img-wrap">
          <div class="lines-sell-img-2"></div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="lines-sell-text-postion">
          <div class=" lines-sell-text-wrap">
            <div class="lines-sell-title">
              <div class="lines-sell-title-2-color">
                <h6>콜드브루<br /><span>히비스커스 모이스쳐라이징<br />스칼프 팩</span></h6>
              </div>

              <p class="lines-sell-sub lines-sell-title-2-color">달콤한 히비스커스 향</p>
              <p>50ml / 1.69 fl.oz</p>
              <p>콜드브루 방식으로 장시간 저온에서 정제한 내추럴 히비스커스꽃수에<br />꿀과 다양한 자연 유래 추출물을 엄선하여 배합한 레이티드그린의<br />특별한 포뮬레이션으로 건조한 두피에
                수분과 영양을 제공하고<br />모발을 부드럽게 해줍니다.</p>
              <br />
              <p class="lines-sell-sub lines-sell-title-2-color">두피타입</p>
              <p>건조하고 각질 많은 두피에 히비스커스, 꿀 수분 공급</p>
            </div>
            <a class="btn btn-small #fafafa grey lighten-5 black-text">구매하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- end: lines-sell-wrap --}}

  <div class="lines-sell-wrap">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="lines-sell-text-postion">
          <div class=" lines-sell-text-wrap">
            <div class="lines-sell-title">
              <div class="lines-sell-title-3-color">
                <h6>콜드프레스<br /><span>아보카도 너리싱<br />스칼프 팩</span></h6>
              </div>

              <p class="lines-sell-sub lines-sell-title-3-color">달콤한 바나나 향</p>
              <p>50ml / 1.69 fl.oz</p>
              <p>콜드프레스 냉압착 방식으로 추출한 내추럴 아보카도에 바나나와<br />다양한 자연 유래 추출물을 엄선하여 배합한 레이티드그린의<br />특별한 포뮬레이션으로 힘없는 두피에 영양을
                제공하고<br />모발을 부드럽게 해줍니다.</p>
              <br />
              <p class="lines-sell-sub lines-sell-title-3-color">두피타입</p>
              <p>염색, 열처리 등으로 푸석하고 손상되어 고영양이 필요한 모발과 두피에 아보카도, 바나나 고영양 공급</p>
            </div>
            <a class="btn btn-small #fafafa grey lighten-5 black-text">구매하기</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="lines-sell-img-wrap">
          <div class="lines-sell-img-3"></div>
        </div>
      </div>
    </div>
  </div>
  {{!-- end: lines-sell-wrap --}}

  <div class="lines-sell-wrap">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="lines-sell-img-wrap">
          <div class="lines-sell-img-4"></div>
        </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="lines-sell-text-postion">
          <div class=" lines-sell-text-wrap">
            <div class="lines-sell-title">
              <div class="lines-sell-title-4-color">
                <h6>콜드프레스<br /><span>타마누오일 수딩<br />스칼프 팩</span></h6>
              </div>

              <p class="lines-sell-sub lines-sell-title-4-color">달콤한 블루베리 향</p>
              <p>50ml / 1.69 fl.oz</p>
              <p>콜드프레스 냉압착 방식으로 추출한 내추럴 타마누오일에 블랙커런트와<br />다양한 자연 유래 추출물을 엄선하여 배합한 레이티드그린의<br />특별한 포뮬레이션으로 트러블 많은 두피를
                진정시키는데 도움을 주고<br />모발을 부드럽게 해줍니다.</p>
              <br />
              <p class="lines-sell-sub lines-sell-title-4-color">두피타입</p>
              <p>두피 트러블이 잦고 예민한 두피에 타마누오일, 블랙커런트 진정 효과</p>
            </div>
            <a class="btn btn-small #fafafa grey lighten-5 black-text">구매하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- end: lines-sell-wrap --}}


</section>