{{!-- img url은 node.js로 처리하자 --}}
<div class="product-box">
  <div class="overlay-wrap">
    <a href="#">
      <img src="/images/product-1.jpg" alt="">
      <div class="overlay"></div>
    </a>
  </div>
  <div class="item-detail">
    <a href="#" class="item-link">
      <div class="item-pay">
        <h4>리얼마리 콜드브루 로즈마리 엑스폴리에이팅 스칼프 샴푸 400ml</h4>
        <div class="item-price">
          <span class="sale-price">25,000원</span>
          <span class="present-price">22,500원</span>
        </div>
        <div class="item-icons">
          <span class="icon-sale">SALE</span>
          <span class="icon-default">MD</span>
        </div>
      </div>
    </a>
  </div>
</div>