<div class="product-bg">
  <div class="container">
    <div class="row">
      <h2 class="second-title">PRODUCT LINE</h2>
      <hr class="second-title-hr">
    </div>
    <div class="row">
      <div class="col s6 m6 l4">
        {{> components/_product}}
      </div>
      <div class="col s6 m6 l4">
        {{> components/_product}}
      </div>
      <div class="col s6 m6 l4">
        {{> components/_product}}
      </div>
    </div>
    <div class="row">
      <div class="col s6 m6 l4">
        {{> components/_product}}
      </div>
      <div class="col s6 m6 l4">
        {{> components/_product}}
      </div>
      <div class="col s6 m6 l4">
        {{> components/_product}}
      </div>
    </div>
    <div class="row">
      <div style="text-align: center;">
        <button class="btn #fafafa grey lighten-5 black-text my-btn-default">VIEW MORE+</button>
      </div>
    </div>
  </div>
</div>