<table class="highlight">
  <caption class="sr-only">review</caption>
  <tbody class="review-tbody">
    <tr>
      <td>포실 포실한 머리결이 촉촉해졌어요!!</td>
      <td class="review-date">2020-02-01</td>
      <td>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
      </td>
    </tr>
    <tr>
      <td>효과가 있는지 모르겠어요.</td>
      <td class="review-date">2020-01-22</td>
      <td>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
        <i class="material-icons">star_border</i>
      </td>
    </tr>
  </tbody>
</table>