{{#if success_msg}}
<div class="messages-box js-messageBox">
  <button type="button" class="success-message js-message">
    <i class="material-icons">check_circle</i>
    {{!-- success_msg를 위해서 --}}
    <span>{{success_msg}}</span>
    <i class="material-icons">clear</i>
  </button>
</div>
{{/if}}